@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300;1,500&display=swap");

* {
  font-size: 18px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  backdrop-filter: blur(2px) saturate(162%);
  -webkit-backdrop-filter: blur(2px) saturate(162%);
  background-color: rgba(38, 52, 80, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(253, 245, 245, 0.125);
}
#form {
  padding: 20px 50px 20px 50px;
}
#title {
  color: yellow;
  font-weight: 600;
  text-align: center;
  font-size: 32px;
}
label {
  display: inline-block;
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-weight: 500;
}
#name {
  color: lightcoral;
}
#pass {
  color: lightgreen;
}

input {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  padding: 2px;
  background-color: initial;
  border: none;
  color: aliceblue;
}
input:focus {
  outline: none;
  color: aliceblue;
  border-bottom: 1px solid goldenrod;
}
#btn {
  text-align: center;
}
button {
  margin-top: 20px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(226, 52, 134);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
}

#data {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  margin: 10px;
}
